<% layout("./layouts/boilerplate") %>

<div class="container-fluid">
  <div class="row | mt-5 p-5 | bg-light-section">

    <div class="col-md-8 offset-md-2">
      <h1 class="mb-5">Create a new trail</h1>
      <form action="/hikes" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

        <!-- Title -->
        <div class="mb-3">
          <label class="form-label" for="title">Title:</label>
          <input class="form-control" type="text" id="title" name="hike[title]" autofocus required>
          <div class="invalid-feedback">Please add a title</div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label class="form-label" for="location">Starting Location:</label>
          <input class="form-control" type="text" id="location" name="hike[location]"
            placeholder="e.g. Kandersteg, Bern" required>
          <div class="invalid-feedback">Please add a location</div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="finish">Ending Location:</label>
          <input class="form-control" type="text" id="finish" name="hike[finish]" placeholder="e.g. Kandersteg, Bern"
            required>
          <div class="invalid-feedback">Please add a location</div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <!-- Difficulty -->
        <div class="mb-3">
          <label class="form-label" for="difficulty">Difficulty (T1-T6):</label>
          <select class="form-select" type="string" id="difficulty" name="hike[difficulty]" required>
            <option value="-"></option>
            <option value="T1 (hiking trail)">T1 (hiking trail)</option>
            <option value="T2 (mountaineering trail)">T2 (mountaineering trail)</option>
            <option value="T3 (demanding mountaineering trail)">T3 (demanding mountaineering trail)</option>
            <option value="T4 (alpine hiking trail)">T4 (alpine hiking trail)</option>
            <option value="T5 (demanding alpine hiking trail)">T5 (demanding alpine hiking trail)</option>
            <option value="T6 (advanced alpine hiking trail)">T6 (advanced alpine hiking trail)</option>
          </select>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <!-- Distance -->
        <div class="mb-3">
          <label class="form-label" for="distance">Distance (in kilometres):</label>
          <div class="input-group">
            <input class="form-control" type="text" id="distance" name="hike[distance]" required>
            <div class="input-group-text">km</div>
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <!-- Duration -->
        <div class="mb-3">
          <label class="form-label" for="duration">Average Duration:</label>
          <div class="input-group">
            <input class="form-control" type="text" id="duration" name="hike[duration]" required>
            <div class="input-group-text">hours</div>
          </div>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- Ascent -->
        <div class="mb-3">
          <label class="form-label" for="ascent">Ascent &#9650; (elevation metres) :</label>
          <div class="input-group">
            <input class="form-control" type="number" id="ascent" name="hike[ascent]" min="1" required>
            <div class="input-group-text">m</div>
          </div>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- Descent -->
        <div class="mb-3">
          <label class="form-label" for="descent">Descent &#9660; (elevation metres):</label>
          <div class="input-group">
            <input class="form-control" type="number" id="descent" name="hike[descent]" min="1" required>
            <div class="input-group-text">m</div>
          </div>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label class="form-label" for="description">Description:</label>
          <textarea class="form-control" type="text" id="description" name="hike[description]" rows="5"
            required></textarea>
          <div class="invalid-feedback">Please add a description</div>
          <div class="valid-feedback">Looks good!</div>
        </div>


        <!-- Image(s) -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image(s):</label>
          <div class="form-file custom-file">
            <input class="form-control custom-file-input" type="file" id="image" name="image"
              accept="image/jpg, image/jpeg, image/png" multiple required>
            <label for="image" class="form-label custom-file-label previewImage"></label>
          </div>
          <div id="formFile"></div>
        </div>

        <div class="mb-3 d-flex justify-content-between">
          <button class="btn btn-success">Save</button>
          <a href="/">Go back</a>
        </div>

      </form>

    </div>
  </div>
</div>

<script src="/javascripts/selectedImageThumbnail.js"></script>