<footer class="footer py-3 mt-auto">
  <div class="container text-center d-flex flex-column">
    <a href="/privacypolicy" class="p-2">Privacy Policy</a>
    <span class="text-muted">Copyright &copy; <%= new Date().getFullYear() %> - <a href="https://www.natgian.com" target="_blank" class="text-muted">natgian.com</a></span>
  </div>
</footer>