<footer class="footer py-3 mt-auto">
  <div class="container text-center">
    <span class="text-muted">Copyright &copy; <%= new Date().getFullYear() %>  Switzerland Explored</span>
  </div>
</footer>