<% layout("./layouts/boilerplate") %>

<div class="container-fluid">
  <div class="row | mt-5 pt-5 p-3 | bg-light-section">

    <h1>Hiking in Switzerland</h1>

    <div class="mt-3">
      <p>Switzerland is a unique hiking country, that is crisscrossed by 65'000 kilometres of signalized hiking trails.
        The signalization tells you how demanding a hiking trail is. </p>
    </div>

    <div class="mt-3 mb-3">
      <h2>T1 - Hiking trails</h2>
      <p>Hiking trails often run along wide paths. However, they can also be narrow and uneven. Steep passages are
        overcome with steps and fall-off points are secured with railings. Apart from the usual attention and caution,
        hiking trails do not make any special demands on hikers. Wearing sturdy shoes with non-slip soles, equipment
        suitable for the weather and topographic maps are recommended.
      </p>
      <p><em>Signalization: yellow signposts:</em></p>
      <img class="info-img" src="/images/hikingtrail.png" alt="">
    </div>

    <div class="mt-3 mb-3">
      <h2>T2 & T3 - Mountain hiking trails</h2>
      <p>Mountain hiking trails sometimes open up impassable terrain and are mostly steep, narrow and sometimes exposed.
        Particularly difficult passages are secured with ropes or chains. Users must be sure-footed, free from vertigo
        and in good physical condition, as well as being aware of the dangers in the mountains (falling rocks, danger of
        slipping and falling, weather conditions). The equipment recommended for hiking trails is assumed as well as
        good trekking shoes are recommended.</p>
      <p><em>Signalization: yellow signposts with white-red-white markings:</em></p>
      <img class="info-img" src="/images/mountainhiking.png" alt="">
    </div>

    <div class="mt-3">
      <h2>T4, T5 & T6 - Alpine hiking trails</h2>
      <p>Alpine hiking trails lead partly over snowfields, glaciers or scree slopes and through rock with short climbing
        sections; they are partly pathless. Structural precautions cannot be assumed. Users must be sure-footed, free
        from vertigo and in very good physical condition, as well as being very familiar with the dangers in the
        mountains. In addition to equipment for mountain trails, compass, rope, ice axe and crampons may be necessary.
      </p>
      <p><em>Signalization: blue signposts with white-blue-white markings:</em></p>
      <img class="info-img" src="/images/alpinehiking.png" alt="">
    </div>

    <div class="mt-5">
      <p><strong> Careful preparation can protect against unpleasant surprises:</strong></p>
      <ul>
        <li class="pb-2">Realistically assess your current capabilities and tailor your planning accordingly</li>
        <li class="pb-2">Inform third parties about your tour, especially if you are setting out alone</li>
        <li class="pb-2">Consider requirements, trail and weather conditions</li>
        <li class="pb-2">Take sun and rain protection as well as warm clothing - in the mountains the weather is harsher and can
          change quickly</li>
          <li class="pb-2">Fatigue can greatly affect surefootedness, therefore drink, eat and rest regularly to stay efficient and
          focused</li>
          <li class="pb-2">Remember to have a pocket pharmacy and cell phone for emergencies</li>
        <li>Do not leave marked trails and turn back in time if necessary</li>
      </ul>
    </div>

  </div>
</div>