<% layout("./layouts/boilerplate") %>

<div class="container-fluid">
  <div class="row | mt-5 pt-5 p-3 | bg-light-section">

    <h1>PAGE NOT FOUND</h1>
    <p>Whoops! Looks like this page doesn't exist. Try the <a href="/">homepage</a> instead.</p>
    <img src="../images/404-page-not-found.jpg" alt="404 page not found">
    <span><a href="https://www.freepik.com/free-vector/404-error-with-landscape-concept-illustration_20824299.htm#page=3&query=not%20found&position=36&from_view=search&track=ais&uuid=cd85f8eb-4da3-4b43-ac16-5e27ed1dde81">Image by storyset</a> on Freepik</span>

  </div>
</div>