<% layout("./layouts/boilerplate") %>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <div class="alert alert-danger" role="alert">
        <h1 class="alert-heading">PAGE NOT FOUND</h1>
        <p>Whoops! Looks like this page doesn't exist. Try the <a href="/">homepage</a> instead.</p>
      </div>
    </div>
  </div>
</div>