<% layout("./layouts/boilerplate") %>

<div class="container-fluid">
  <div class="row | mt-5 pt-5 p-2 | bg-light-section">

    <h1>Privacy Policy</h1>

    <h2 class="h3 mt-4">1. General notes and mandatory information</h2>

        <h3 class="h4 mt-3">Privacy policy</h3> 
        <p>The protection of your personal data is taken very seriously. Your personal data will be treated confidentially and in accordance with the statutory data protection regulations and this privacy policy. Your data will never be passed on to third parties.</p>
        <p>When you use this web application, various personal data is collected. Personal data is data that can be used to identify you personally. This privacy policy explains what data is collected and what it is used for.</p>
        <p>Please note that data transmission over the Internet (e.g. when communicating by email) may be subject to security vulnerabilities. Complete protection of data against access by third parties is not possible.</p>

        <h3 class="h4 mt-1">Note on the responsible party</h3>
        <p>The responsible party for data processing on this website is:</p>
        <p>Nathalie Giancaspro<br/>
        Heinrichstrasse 10<br/>
        8304 Wallisellen<br/>
        Schweiz</p>
        
        <p>Email: <a href="mailto:info@natgian.com">info@natgian.com</a></p>

        <p>The responsible party is the natural or legal person who alone or jointly with others determines the purposes and means of the processing of personal data (e.g. names, email addresses, etc.).</p>

        
        <h3 class="h4 mt-1">Storage duration</h3>
        <p>Unless a more specific storage period has been specified in this privacy policy, your personal data will remain stored until the purpose for data processing no longer applies. If you assert a justified request for deletion or revoke your consent to data processing, your data will be deleted.</p>
        
        <h3 class="h4 mt-1">Information, correction and deletion</h3>
        <p>You have the right to free information about your stored personal data, its origin and recipients and the purpose of the data processing and, if necessary, a right to correction or deletion of this data at any time within the framework of the applicable legal provisions.</p>
        
        <h3 class="h4 mt-1">SSL or TLS encryption</h3>
        <p>This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content that you send. You can recognize an encrypted connection by the fact that the address line of the browser changes from &bdquo;http://&ldquo; to &bdquo;https://&ldquo; and by the lock symbol in your browser line.</p>
        <p>If SSL or TLS encryption is activated, the data you transmit cannot be read by third parties.</p>


        <h2 class="h3 mt-4">2. Data processing</h2>

        <h3 class="h4 mt-3">Data collection on this website</h3> 
        <h4 class="h5 fst-italic mt-2">How is your data collected?</h4>
        <p>You must create a user account to use certain parts of this web application (upload hiking trails information and pictures, write reviews or bookmark trails). The following data is collected when you register a user account: username, password and email address.</p>

        <p>Other data is collected automatically or with your consent by the IT systems when you visit the website. This is primarily technical data (e.g. internet browser, operating system or time of page view). This data is collected automatically as soon as you visit this website.</p>

        <h4 class="h5 fst-italic mt-2">Who is responsible for data collection on this website?</h4> 
        <p>Data processing on this website is carried out by the website operator. You can find the operator's contact details in the "Note on the responsible party" section of this privacy policy.</p>  
        
        <h4 class="h5 fst-italic mt-2">What is the data used for?</h4> 
        <p>The data is used to activate and authenticate the user. Another part of the data is collected to ensure that the website is provided without errors.</p>

        <h4 class="h5 fst-italic mt-2">What rights do you have regarding your data?</h4> 
        <p>You have the right to receive information about the origin, recipient and purpose of your stored personal data free of charge at any time. You also have the right to request the correction or deletion of this data. If you have given your consent to data processing, you can revoke this consent at any time for the future. You also have the right to request the restriction of the processing of your personal data under certain circumstances. You also have the right to lodge a complaint with the competent supervisory authority.</p>        

        <h2 class="h3 mt-4">3. Plugins and tools</h2>
        <h3 class="h4 mt-3">Google Fonts</h3>
        <p>This website uses Google Fonts, which are provided by Google, for the uniform display of fonts. When you access a page, your browser loads the required fonts into your browser cache in order to display texts and fonts correctly.</p> 
        <p>For this purpose, the browser you are using must connect to Google's servers. This informs Google that this website has been accessed via your IP address. The use of Google Fonts is based on Art. 6 para. 1 lit. f DSGVO. The website operator has a legitimate interest in the uniform presentation of the typeface on its website. If a corresponding consent has been requested, the processing is carried out exclusively on the basis of Art. 6 para. 1 lit. a DSGVO and § 25 para. 1 TTDSG, insofar as the consent includes the storage of cookies or access to information in the user's terminal device (e.g. device fingerprinting) within the meaning of the TTDSG. Consent can be revoked at any time.</p>
        <p>If your browser does not support Google Fonts, a standard font will be used by your computer.</p>
        <p>You can find more information about Google Fonts at <a href="https://developers.google.com/fonts/faq" target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> and in Google's privacy policy: <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=en</a>.</p>
        <p>The company is certified in accordance with the "EU-US Data Privacy Framework" (DPF). The DPF is an agreement between the European Union and the USA, which is intended to ensure compliance with European data protection standards for data processing in the USA. Every company certified under the DPF undertakes to comply with these data protection standards. Further information on this can be obtained from the provider at the following link: <a href="https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt000000001L5AAI&status=Active" target="_blank" rel="noopener noreferrer" class="text-truncate truncate-link">https://www.dataprivacyframework.gov/s/participant-search/participant-detail?contact=true&id=a2zt000000001L5AAI&status=Active</a></p>

        <h3 class="h4 mt-3">Font Awesome</h3>
        <p>This site uses Font Awesome for uniform display of fonts and symbols. Provider is Fonticons, Inc, 6 Porter Road Apartment 3R, Cambridge, Massachusetts, USA.</p>
        <p>When you call up a page, your browser loads the required fonts into its browser cache in order to display texts, fonts and symbols correctly. For this purpose, the browser you are using must connect to Font Awesome's servers. This enables Font Awesome to know that your IP address has been used to access this website. The use of Font Awesome is based on Art. 6 para. 1 lit. f DSGVO. I have a legitimate interest in the uniform presentation of the typeface on my website. If a corresponding consent has been requested, the processing is carried out exclusively on the basis of Art. 6 para. 1 lit. a DSGVO and § 25 para. 1 TTDSG, insofar as the consent includes the storage of cookies or access to information in the user's terminal device (e.g. device fingerprinting) as defined by the TTDSG. The consent can be revoked at any time.</p>
        <p>If your browser does not support Font Awesome, a default font is used by your computer.</p>
        <p>For more information about Font Awesome, please see Font Awesome's privacy policy at: <a href="https://fontawesome.com/privacy" target="_blank" rel="noopener noreferrer">fontawesome.com/privacy</a></p>

        <h3 class="h4 mt-3">Cloudinary</h3>
        <p>This website uses the cloud service Cloudinary.</p>
        <p>Cloudinary also processes your data in the USA, among other places. Please note that, in the opinion of the European Court of Justice, there is currently no adequate level of protection for data transfers to the USA. This may entail various risks for the legality and security of data processing.</p>
        <p>Cloudinary uses so-called standard contractual clauses (= Art. 46. para. 2 and 3 DSGVO) as the basis for data processing for recipients based in third countries (outside the European Union, Iceland, Liechtenstein, Norway, i.e. in particular in the USA) or for data transfer there. Standard Contractual Clauses (SCCs) are templates provided by the EU Commission and are intended to ensure that your data complies with European data protection standards even if it is transferred to third countries (such as the USA) and stored there. Through these clauses, Cloudinary undertakes to comply with the European level of data protection when processing your relevant data, even if the data is stored, processed and managed in the USA. These clauses are based on an implementing decision of the EU Commission. You can find the decision and the corresponding standard contractual clauses here: <a href="https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=en" target="_blank" rel="noopener noreferrer" class="text-truncate truncate-link">https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=en</a></p>
        <p>You can find more information on the standard contractual clauses at Cloudinary at <a href="https://cloudinary-res.cloudinary.com/image/upload/Cloudinary-Customer-Data-Processing-Addendum-DPA-November-2020.pdf" target="_blank" rel="noopener noreferrer" class="text-truncate truncate-link">https://cloudinary-res.cloudinary.com/image/upload/Cloudinary-Customer-Data-Processing-Addendum-DPA-November-2020.pdf</a>.</p>
        <p>You can find out more about the data processed through the use of Cloudinary in the Privacy Policy on <a href="https://cloudinary.com/privacy?tid=331699909143" target="_blank" rel="noopener noreferrer">https://cloudinary.com/privacy</a>.</p>

        <h2 class="h3 mt-4">4. Final clauses</h2>
        <p>This privacy policy may be amended and supplemented at any time. Information about such amendments and additions will be provided in an appropriate form, in particular by publishing the current privacy policy on the website.</p>

        <p class="mt-4">Last modified: 13.11.2023</p>
  </div>
</div>