<% layout("./layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row flex-fill mb-5 mt-5">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title mt-4 mb-4 h1 text-center mb-5">Change Password</h1>

          <form action="/myprofile/change-password" method="POST" class="needs-validation" novalidate>

            <div class="mb-4">
              <label class="form-label" for="currentPassword">Current Password:</label>
              <div class="input-group">
                <input class="form-control password-input" type="password" id="currentPassword" name="currentPassword" required>
                <span class="input-group-text togglePassword"><img src="/images/eye-off-outline.svg" alt="eye icon" class="eyeIcon"></span>
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="mb-4">
              <label class="form-label" for="newPassword">New Password:</label>
   
                <input class="form-control password-input" type="password" id="newPassword" name="newPassword" required>
         
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="d-grid mb-4">
              <button type="submit" class="btn btn-success mb-3">Save New Password</button>
              <a href="/myprofile" class="btn btn-secondary">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer src="/javascripts/togglePassword.js"></script>