<% layout("./layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row flex-fill mb-5 mt-5">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title mt-4 mb-4 h1 text-center mb-5">Forgot Password</h1>
          <p class="mt-4">Enter your registered e-mail address and click "Reset Password".</p>
      <p>You will then receive an e-mail with a link to reset your password. If you do not receive an e-mail, check your spam folder.</p>
      <form action="/forgot-password" method="POST" class="needs-validation mb-5" novalidate>
        <div class="mb-3">
          <label class="form-label fw-bold" for="email">Email:</label>
          <input class="form-control" type="email" id="email" name="email" required autofocus>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a valid e-mail adddress.
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success btn-block">Reset Password</button>
        </div>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>


        