<% layout("./layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row flex-fill mb-5 mt-5">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title mt-4 mb-4 h1 text-center mb-5">Reset Password</h1>

          <form action="/reset/<%= token  %>" method="POST" id="reset-password-form"
            novalidate>

            <div class="mb-4">
              <label class="form-label" for="password">New Password:</label>
              <div class="input-group">
                <input class="form-control" type="password" id="password" name="password" required>
                <span class="input-group-text eyeIcon" id="togglePassword"><img src="/images/eye-off-outline.svg"
                    alt="eye icon" id="eyeIcon"></span>
              </div>
            </div>

            <div class="mb-4">
              <label class="form-label" for="confirmpassword">Confirm New Password:</label>
              <input class="form-control" id="confirmpassword" type="password" value="" name="confirmpassword" required>
            </div>

            <div class="d-grid gap-2 mb-4">
              <button type="submit" class="btn btn-success btn-block">Save New Password</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer src="/javascripts/togglePassword.js"></script>