<% layout("./layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row flex-fill mb-5 mt-5">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title mt-4 mb-4 h1 text-center mb-5">E-mail sent</h1>
          <svg class="ok-svg" xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 24 24">
            <path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7Z" />
          </svg>
          <p class="mt-4 mb-4">The link has been sent to your e-mail address. If you do not find an e-mail in your inbox, please check your spam folder.</p>
        </div>
      </div>
    </div>
  </div>
</div>